<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>add Problems | CodeNow</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <style type="text/css">
    body {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1349' height='1044.19' preserveAspectRatio='none' viewBox='0 0 1349 1044.19'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1081%26quot%3b)' fill='none'%3e%3crect width='1349' height='1044.19' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c416.19000000000005 C 90%2c377.79 270%2c223.59 450%2c224.19000000000005 C 630%2c224.79 720.2%2c439.59 900%2c419.19000000000005 C 1079.8%2c398.79 1259.2%2c181.59 1349%2c122.19000000000005L1349 1044.19L0 1044.19z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c556.19 C 90%2c612.59 270%2c801.19 450%2c838.19 C 630%2c875.19 720.2%2c729.59 900%2c741.19 C 1079.8%2c752.79 1259.2%2c865.19 1349%2c896.19L1349 1044.19L0 1044.19z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1081'%3e%3crect width='1349' height='1044.19' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }

    .form-control {
      display: block;
      width: 70%;
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, box-shadow .15s ease-in-out;
    }
  .setterbtn{
    margin: 1rem 0rem;
    padding: 1rem 1rem;
  }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar sticky-top navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">CodeNow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="       #navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto ">


          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contests">Contests</a>
          </li>
        </ul>
        <div class="mx-2">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <div class="w3-container">

  </div>

  <div class="w3-bar w3-black navbar sticky-top">
    <button class="w3-bar-item w3-button active" onclick="openCity('Details')">Details</button>
    <button class="w3-bar-item w3-button" onclick="openCity('Add Problems')">Add Problems</button>
   
  </div>

  <div id="Details" class="w3-container city">
    <div class="card" style="width: 60rem;">
      <div class="card-body">
        <h5 class="card-title"><strong>Your Details</strong></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Contest Name:{{contestName}}</li>
        <li class="list-group-item">Start date :{{startDate}} Start Time : {{startTime}}</li>
        <li class="list-group-item">End date : {{endDate}} End Time :{{endTime}}</li>
        <li class="list-group-item">Organization Name:{{orgname}}</li>
        <li class="list-group-item">
          <h4><strong>Customize your Contest landing page</strong></h4>
          <br>
          <form action="/contestDescription" method="POST">

            <input type="hidden" name="contestName" value="{{contestName}}">
            <input type="hidden" name="sdate" value="{{startDate}}">
            <input type="hidden" name="stime" value="{{startTime}}">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"><strong>Desciption about
                  contest</strong></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="desc"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"><strong>Prizes</strong></label>
              <textarea name="prizes" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"><strong>Rules</strong></label>
              <textarea name="rules" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>

            <div class="btn-group" role="group" aria-label="Basic example">
              <input type="submit" class="btn btn-primary" value="Submit" />&nbsp
            </div>
          </form>
        </li>
        <li class="list-group-item"><a class="btn btn-outline-success" href="/preview" role="button">Preview</a></li>
      </ul>
    </div>
  </div>

  <div id="Add Problems" class="w3-container city" style="display:none">

       <div class="setterbtn">  
        <form action="/createchallenge" method="POST">
          <input type="hidden" name="contestName" value="{{contestName}}" >
          <input class="btn btn-success" type="submit" value="create a Problem" />

        </form>
     </div>

    <h2 style="color:white;">your Problems</h2>
    <div class="card" style="width: 50rem;">
      <ul class="list-group list-group-flush">
        {{#each problems}}
            <li class="list-group-item"><a href="challenge1.com">{{this.problemName}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>


  <script>
    function openCity(cityName) {
      var i;
      var x = document.getElementsByClassName("city");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      document.getElementById(cityName).style.display = "block";
    }
  </script>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>
