<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<title>Preview Contest Page | CodeNow</title>
	<style type="text/css">
		
		body{
			background-image: linear-gradient(to bottom, #050505, #14122a, #1a1a4b, #1e206f, #242694, #242694, #242694, #242694, #1e206f, #1a1a4b, #14122a, #050505);
		   }
		   @media (min-width: 1200px).display-5 {
    			font-size: 1rem;
			}
	</style>
</head>
<body>
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Contest Name:{{contestName}}</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Date : {{sdate}} At {{stime}} </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
      </div>
        <h3 class="display-5 fw-bold text-white">Contest Description</h3>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">{{desc}}</p>
      </div>
        <h3 class="display-5 fw-bold text-white">Rules</h3>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">{{rules}}</p>
      </div>
        <h3 class="display-5 fw-bold text-white">Prizes</h3>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">{{prizes}}</p>
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="/login" role="button">Sign Up</a>
        </div>
    </div>
  </div>







   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>